In [65]:
import pandas as pd

df= pd.read_csv ("datos_ejemplo_pandas.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nombre          10 non-null     object
 1   Edad            8 non-null      float64
 2   Ciudad          9 non-null      object
 3   Ingreso         9 non-null      float64
 4   Genero          10 non-null     object
 5   Fecha_Registro  10 non-null     object
dtypes: float64(2), object(4)
memory usage: 612.0+ bytes

In [66]:
df.isnull().sum()

Nombre            0
Edad              2
Ciudad            1
Ingreso           1
Genero            0
Fecha_Registro    0
dtype: int64

In [67]:
df["Edad"].fillna(df["Edad"].mean(), inplace=True)

C:\Users\danny\AppData\Local\Temp\ipykernel_10916\445293927.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Edad"].fillna(df["Edad"].mean(), inplace=True)

In [68]:
df["Edad"].head()

0    23.000
1    34.000
2    34.625
3    45.000
4    31.000
Name: Edad, dtype: float64

In [69]:
df["Edad"].astype(int)

0    23
1    34
2    34
3    45
4    31
5    38
6    29
7    34
8    41
9    36
Name: Edad, dtype: int64

In [70]:
df.isnull().sum()

Nombre            0
Edad              0
Ciudad            1
Ingreso           1
Genero            0
Fecha_Registro    0
dtype: int64

In [71]:
df["Ciudad"].fillna("Unknown", inplace=True)

C:\Users\danny\AppData\Local\Temp\ipykernel_10916\3060825278.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Ciudad"].fillna("Unknown", inplace=True)

In [72]:
df["Ciudad"].head(10)

0       Lima
1     Bogotá
2       Lima
3      Quito
4     Bogotá
5      Quito
6       Lima
7       Lima
8     Bogotá
9    Unknown
Name: Ciudad, dtype: object

In [73]:
df.isnull().sum()

Nombre            0
Edad              0
Ciudad            0
Ingreso           1
Genero            0
Fecha_Registro    0
dtype: int64

In [74]:
df["Ingreso"].fillna(0, inplace=True)

C:\Users\danny\AppData\Local\Temp\ipykernel_10916\3911239987.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Ingreso"].fillna(0, inplace=True)

In [75]:
df.isnull().sum()

Nombre            0
Edad              0
Ciudad            0
Ingreso           0
Genero            0
Fecha_Registro    0
dtype: int64

In [76]:
print(df["Ingreso"].describe())

count      10.000000
mean     1600.000000
std       635.959468
min         0.000000
25%      1525.000000
50%      1750.000000
75%      1975.000000
max      2200.000000
Name: Ingreso, dtype: float64

In [77]:
df["Ingreso"].astype(int)

0    1200
1    1500
2    1600
3    2000
4    1800
5    2100
6       0
7    1700
8    1900
9    2200
Name: Ingreso, dtype: int64

In [78]:
df.describe()

            Edad      Ingreso
count  10.000000    10.000000
mean   34.625000  1600.000000
std     6.163287   635.959468
min    23.000000     0.000000
25%    31.750000  1525.000000
50%    34.625000  1750.000000
75%    37.500000  1975.000000
max    45.000000  2200.000000

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nombre          10 non-null     object
 1   Edad            10 non-null     float64
 2   Ciudad          10 non-null     object
 3   Ingreso         10 non-null     float64
 4   Genero          10 non-null     object
 5   Fecha_Registro  10 non-null     object
dtypes: float64(2), object(4)
memory usage: 612.0+ bytes

In [93]:
print(df)

   Nombre    Edad   Ciudad  Ingreso Genero Fecha_Registro
0     Ana  23.000     Lima   1200.0      F     31/01/2023
1    Luis  34.000   Bogotá   1500.0      M     28/02/2023
2  Carlos  34.625     Lima   1600.0      M     31/03/2023
3   Marta  45.000    Quito   2000.0      F     30/04/2023
4   Sofía  31.000   Bogotá   1800.0      F     31/05/2023
5   Pedro  38.000    Quito   2100.0      M     30/06/2023
6   Lucía  29.000     Lima      0.0      F     31/07/2023
7  Andrés  34.625     Lima   1700.0      M     31/08/2023
8   Julia  41.000   Bogotá   1900.0      F     30/09/2023
9   Diego  36.000  Unknown   2200.0      M     31/10/2023

In [94]:
df["Edad"].astype(int)

0    23
1    34
2    34
3    45
4    31
5    38
6    29
7    34
8    41
9    36
Name: Edad, dtype: int64

In [95]:
print(df)

   Nombre    Edad   Ciudad  Ingreso Genero Fecha_Registro
0     Ana  23.000     Lima   1200.0      F     31/01/2023
1    Luis  34.000   Bogotá   1500.0      M     28/02/2023
2  Carlos  34.625     Lima   1600.0      M     31/03/2023
3   Marta  45.000    Quito   2000.0      F     30/04/2023
4   Sofía  31.000   Bogotá   1800.0      F     31/05/2023
5   Pedro  38.000    Quito   2100.0      M     30/06/2023
6   Lucía  29.000     Lima      0.0      F     31/07/2023
7  Andrés  34.625     Lima   1700.0      M     31/08/2023
8   Julia  41.000   Bogotá   1900.0      F     30/09/2023
9   Diego  36.000  Unknown   2200.0      M     31/10/2023