In [5]:
import pandas as pd

df= pd.read_csv("amazon_sales_data 2025.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order ID           250 non-null    object
 1   Date               250 non-null    object
 2   Product            250 non-null    object
 3   Category           250 non-null    object
 4   Price              247 non-null    float64
 5   Quantity           244 non-null    float64
 6   Total Sales        250 non-null    int64
 7   Customer Name      243 non-null    object
 8   Customer Location  249 non-null    object
 9   Payment Method     244 non-null    object
 10  Status             250 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 21.6+ KB

In [6]:
df.isnull().sum()

Order ID             0
Date                 0
Product              0
Category             0
Price                3
Quantity             6
Total Sales          0
Customer Name        7
Customer Location    1
Payment Method       6
Status               0
dtype: int64

In [7]:
df.isna().sum()

Order ID             0
Date                 0
Product              0
Category             0
Price                3
Quantity             6
Total Sales          0
Customer Name        7
Customer Location    1
Payment Method       6
Status               0
dtype: int64

In [9]:
df.describe()

             Price    Quantity  Total Sales
count   247.000000  244.000000   250.000000
mean    346.740891    2.856557   975.380000
std     381.820103    1.437275  1252.112254
min      15.000000    1.000000    15.000000
25%      40.000000    2.000000   100.000000
50%     150.000000    3.000000   400.000000
75%     600.000000    4.000000  1500.000000
max    1200.000000    5.000000  6000.000000

In [15]:
df["Price"].fillna(df["Price"].mean(), inplace=True)

In [16]:
df.isnull().sum()

Order ID             0
Date                 0
Product              0
Category             0
Price                0
Quantity             6
Total Sales          0
Customer Name        7
Customer Location    1
Payment Method       6
Status               0
dtype: int64

In [30]:
df["Quantity"].fillna(df["Quantity"].mode(),inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order ID           250 non-null    object
 1   Date               250 non-null    object
 2   Product            250 non-null    object
 3   Category           250 non-null    object
 4   Price              250 non-null    float64
 5   Quantity           250 non-null    float64
 6   Total Sales        250 non-null    int64
 7   Customer Name      243 non-null    object
 8   Customer Location  249 non-null    object
 9   Payment Method     244 non-null    object
 10  Status             250 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 21.6+ KB

C:\Users\danny\AppData\Local\Temp\ipykernel_8844\1197278107.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Quantity"].fillna(df["Quantity"].mode(),inplace=True)

In [40]:
df["Customer Name"].fillna("Unknown" ,inplace=True)

In [43]:
df["Customer Location"].fillna("Unknown" ,inplace=True)
df["Payment Method"].fillna("Unknown" ,inplace=True)

C:\Users\danny\AppData\Local\Temp\ipykernel_8844\1846266616.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Customer Location"].fillna("Unknown" ,inplace=True)
C:\Users\danny\AppData\Local\Temp\ipykernel_8844\1846266616.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Payment Method"].fillna("Unknown" ,inplace=True)

In [ ]:
df.drop("Customer Location", axis=1, inplace=True)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        250 non-null    object
 1   Date            250 non-null    object
 2   Product         250 non-null    object
 3   Category        250 non-null    object
 4   Price           250 non-null    float64
 5   Quantity        250 non-null    float64
 6   Total Sales     250 non-null    int64
 7   Customer Name   250 non-null    object
 8   Payment Method  250 non-null    object
 9   Status          250 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 19.7+ KB

In [53]:
df.isnull().sum()

Order ID          0
Date              0
Product           0
Category          0
Price             0
Quantity          0
Total Sales       0
Customer Name     0
Payment Method    0
Status            0
dtype: int64

In [60]:
df.rename(columns={"Customer Name" : "Name Customer"}, inplace=True)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        250 non-null    object
 1   Date            250 non-null    object
 2   Product         250 non-null    object
 3   Category        250 non-null    object
 4   Price           250 non-null    float64
 5   Quantity        250 non-null    float64
 6   Total Sales     250 non-null    int64
 7   Name Customer   250 non-null    object
 8   Payment Method  250 non-null    object
 9   Status          250 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 19.7+ KB

In [68]:
df["Order ID"] = df["Order ID"].str.strip()
df["Order ID"] = df["Order ID"].str.lower()

In [71]:
df["Order ID"]

0      ord0001
1      ord0002
2      ord0003
3      ord0004
4      ord0005
        ...
245    ord0246
246    ord0247
247    ord0248
248    ord0249
249    ord0250
Name: Order ID, Length: 250, dtype: object

In [73]:
df["Status"].value_counts()

Status
Completed    88
Pending      85
Cancelled    77
Name: count, dtype: int64

In [80]:
df["Payment Method"].value_counts()

Payment Method
PayPal         59
Credit Card    53
Debit Card     51
Gift Card      41
Amazon Pay     40
Unknown         6
Name: count, dtype: int64

In [86]:
df["Payment Method"] = df["Payment Method"].str.replace("Gift Card", "Tarjeta Regalo", regex=False)

In [84]:
df["Payment Method"].value_counts()

Payment Method
PayPal            59
Credit Card       53
Debit Card        51
Tarjeta Regalo    41
Amazon Pay        40
Unknown            6
Name: count, dtype: int64

In [88]:
df["Payment Method"].head(15)

0         Debit Card
1         Debit Card
2         Amazon Pay
3        Credit Card
4         Debit Card
5        Credit Card
6            Unknown
7             PayPal
8             PayPal
9        Credit Card
10        Amazon Pay
11       Credit Card
12    Tarjeta Regalo
13       Credit Card
14       Credit Card
Name: Payment Method, dtype: object

In [94]:
df["Category"].unique()

array(['Footwear', 'Electronics', 'Clothing', 'Books', 'Home Appliances'],
      dtype=object)

In [95]:
df.loc[df['Category'] == 'Clothing', 'Category'] = 'Ropa'

In [96]:
df["Category"].unique()

array(['Footwear', 'Electronics', 'Ropa', 'Books', 'Home Appliances'],
      dtype=object)

In [98]:
df["Category"].head(10)

0       Footwear
1    Electronics
2       Footwear
3       Footwear
4    Electronics
5           Ropa
6    Electronics
7    Electronics
8           Ropa
9    Electronics
Name: Category, dtype: object

In [106]:
df["Quantity"] = df["Quantity"].round().astype("Int64")

In [110]:
df["Quantity"].head(5)

0    3
1    4
2    2
3    3
4    3
Name: Quantity, dtype: Int64

,Order ID,Date,Product,Category,Price,Quantity,Total Sales,Name Customer,Payment Method,Status,Payment Methof
0,ord0001,14/03/2025,Running Shoes,Footwear,60.000000,3,180,Emma Clark,Debit Card,Cancelled,Debit Card
1,ord0002,20/03/2025,Headphones,Electronics,100.000000,4,400,Emily Johnson,Debit Card,Pending,Debit Card
2,ord0003,15/02/2025,Running Shoes,Footwear,60.000000,2,120,John Doe,Amazon Pay,Cancelled,Amazon Pay
3,ord0004,19/02/2025,Running Shoes,Footwear,346.740891,3,180,Olivia Wilson,Credit Card,Pending,Credit Card
4,ord0005,10/03/2025,Smartwatch,Electronics,150.000000,3,450,Emma Clark,Debit Card,Pending,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...
245,ord0246,17/03/2025,T-Shirt,Ropa,20.000000,2,40,Daniel Harris,Debit Card,Cancelled,Debit Card
246,ord0247,30/03/2025,Jeans,Ropa,40.000000,1,40,Sophia Miller,Debit Card,Cancelled,Debit Card
247,ord0248,05/03/2025,T-Shirt,Ropa,20.000000,3,40,Chris White,Debit Card,Cancelled,Debit Card
248,ord0249,08/03/2025,Smartwatch,Electronics,150.000000,3,450,Emily Johnson,Debit Card,Cancelled,Debit Card
249,ord0250,19/02/2025,Smartphone,Electronics,500.000000,4,2000,Emily Johnson,Amazon Pay,Completed,Amazon Pay

In [113]:
df[:10]

,Order ID,Date,Product,Category,Price,Quantity,Total Sales,Name Customer,Payment Method,Status,Payment Methof
0,ord0001,14/03/2025,Running Shoes,Footwear,60.000000,3,180,Emma Clark,Debit Card,Cancelled,Debit Card
1,ord0002,20/03/2025,Headphones,Electronics,100.000000,4,400,Emily Johnson,Debit Card,Pending,Debit Card
2,ord0003,15/02/2025,Running Shoes,Footwear,60.000000,2,120,John Doe,Amazon Pay,Cancelled,Amazon Pay
3,ord0004,19/02/2025,Running Shoes,Footwear,346.740891,3,180,Olivia Wilson,Credit Card,Pending,Credit Card
4,ord0005,10/03/2025,Smartwatch,Electronics,150.000000,3,450,Emma Clark,Debit Card,Pending,Debit Card
5,ord0006,14/03/2025,T-Shirt,Ropa,20.000000,1,20,John Doe,Credit Card,Pending,Credit Card
6,ord0007,18/03/2025,Smartwatch,Electronics,150.000000,4,600,Emma Clark,Unknown,Completed,Unknown
7,ord0008,02/03/2025,Smartphone,Electronics,500.000000,1,500,Sophia Miller,PayPal,Completed,PayPal
8,ord0009,08/03/2025,T-Shirt,Ropa,20.000000,3,60,Sophia Miller,PayPal,Completed,PayPal
9,ord0010,12/03/2025,Smartphone,Electronics,500.000000,1,500,Emily Johnson,Credit Card,Cancelled,Credit Card

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        250 non-null    object
 1   Date            250 non-null    object
 2   Product         250 non-null    object
 3   Category        250 non-null    object
 4   Price           250 non-null    float64
 5   Quantity        250 non-null    Int64
 6   Total Sales     250 non-null    int64
 7   Name Customer   250 non-null    object
 8   Payment Method  250 non-null    object
 9   Status          250 non-null    object
 10  Payment Methof  250 non-null    object
dtypes: Int64(1), float64(1), int64(1), object(8)
memory usage: 21.9+ KB

In [116]:
df.drop("Payment Methof", axis=1, inplace=True)

KeyError: "['Payment Methof'] not found in axis"

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        250 non-null    object
 1   Date            250 non-null    object
 2   Product         250 non-null    object
 3   Category        250 non-null    object
 4   Price           250 non-null    float64
 5   Quantity        250 non-null    Int64
 6   Total Sales     250 non-null    int64
 7   Name Customer   250 non-null    object
 8   Payment Method  250 non-null    object
 9   Status          250 non-null    object
dtypes: Int64(1), float64(1), int64(1), object(7)
memory usage: 19.9+ KB

In [118]:
df[:5]

,Order ID,Date,Product,Category,Price,Quantity,Total Sales,Name Customer,Payment Method,Status
0,ord0001,14/03/2025,Running Shoes,Footwear,60.000000,3,180,Emma Clark,Debit Card,Cancelled
1,ord0002,20/03/2025,Headphones,Electronics,100.000000,4,400,Emily Johnson,Debit Card,Pending
2,ord0003,15/02/2025,Running Shoes,Footwear,60.000000,2,120,John Doe,Amazon Pay,Cancelled
3,ord0004,19/02/2025,Running Shoes,Footwear,346.740891,3,180,Olivia Wilson,Credit Card,Pending
4,ord0005,10/03/2025,Smartwatch,Electronics,150.000000,3,450,Emma Clark,Debit Card,Pending

In [120]:
df.to_csv("amazon_sales_data_cleaned2025.csv", index=False)